# Enable rewrite engine and route requests to framework
RewriteEngine On

Options -Indexes

RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

RewriteCond %{REQUEST_URI} \.ini$
RewriteRule \.ini$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* %{ENV:BASE}/index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

<Files ".swp">
	deny from all
</Files>

<Files "install.sql">
	deny from all
</Files>

<Files "setup.sh">
	deny from all
</Files>

<Files "functions.php">
	deny from all
</Files>

<Files ".index.php.swo">
	deny from all
</Files>